mat-card {
  display: flex;

  margin-bottom: var(--main-margin);

  div {
    margin: 0 6px;
  }
}

.card_icon {
  color: rgb(var(--main-color-500));
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_large_text_container {
  font-size: 24px;
}

.card_large_text_container,
.card_small_text_container {
  text-align: center;
}
