<div mat-dialog-title cdkFocusInitial class="dialog_heading">
  Selecting your settings
</div>
<div mat-dialog-content>
  <p>
    You can choose to use the settings you used last time, or select a different preset. You will be able to change and
    refine this later.
  </p>

  <p>
    If you generally want to select a different preset every time, you can tell us to skip this step for you. You can
    always change this in your settings.
  </p>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
