<ng-container *ngIf="users[0] && presets[0]">
  <h1>Presets</h1>

  <h2>My presets</h2>

  <ng-container *ngFor="let preset of presets">
    <app-preset
      *ngIf="preset.userId == users[0].userId"
      [props]="{
      presetId: preset.presetId,
      category: 'myPresets',
      lastDest: this.lastDest
  }"
    ></app-preset>
  </ng-container>

  <h2>Standard presets</h2>

  <ng-container *ngFor="let preset of presets">
    <app-preset
      *ngIf="preset.userId == null"
      [props]="{
      presetId: preset.presetId,
      category: 'standardPresets',
      lastDest: this.lastDest
  }"
    ></app-preset>
  </ng-container>
</ng-container>
