<h1>Your spot: 3-17-2</h1>

<!--<app-setting-dropdown></app-setting-dropdown>-->
<app-slider
  [props]="{
  title: 'temperature',
  interval: 5,
  step: 1,
  tempMin: 10,
  tempMax: 35,
  keepAtRoomLevel: true
  }"
></app-slider>
<app-slider
  [props]="{
  title: 'humidity',
  interval: 10,
  step: 1,
  tempMin: 0,
  tempMax: 100,
  keepAtRoomLevel: true
  }"
></app-slider>
<app-slider
  [props]="{
  title: 'airflow level',
  interval: 1,
  step: 1,
  tempMin: 0,
  tempMax: 10,
  keepAtRoomLevel: true
  }"
></app-slider>