<!-- Adding the slider and tracking the slider's values-->
<div class="slider">
  <div class="sliderValue capitalize">{{props.setting}}: {{this.settingValue}}{{props.unit}}</div>
  <div
    *ngIf="!props.preview"
    class="current"
  >
    Current {{props.setting}}: {{this.spotValue}}{{props.unit}}
  </div>
  <mat-slider
    [disabled]="this.keepAtRoomLevel || props.preview"
      tickInterval="{{props.interval}}"
      step="{{props.step}}"
      min="{{props.tempMin}}"
      max="{{props.tempMax}}"
      [(ngModel)]="settingValue"
      (ngModelChange)="this.updateSetting(users[0].userId)">
  </mat-slider>
  <mat-checkbox
    [(ngModel)]="this.keepAtRoomLevel">
    Keep at room level
  </mat-checkbox>
</div>