<div mat-dialog-title cdkFocusInitial class="dialog_heading">
  Your settings
</div>
<div mat-dialog-content>

  <p>
    These are your private settings for your preferred work space environment.
  </p>

  <p>
    You can change your temperature, humidity and air flow, so the air is just right for you.
  </p>

  <b>
    Are you happy with the environment in the room?
  </b>

  <p>
    You can turn a setting off by selecting
    <i>Keep at room level</i>,
    which will save power and help our out door environment
    too.
  </p>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
