<div mat-dialog-title cdkFocusInitial class="dialog_heading">
  Your presets
</div>
<div mat-dialog-content>

  <p>
    On this page, you can select presets with settings for your preferred environment in your spot - either your own,
    or one of our pre-built presets.
  </p>

  <p>
    <b>Press a preset</b>
    to view the settings. From here, you can select the preset, or - if it is one of your own presets -
    delete it.
  </p>

  <p>
    If you wish to change- or create a new preset, you need to select a preset, make your changes and save the preset
    from there.
  </p>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
