<app-top-nav></app-top-nav>

<!--
This is the outlet for what we link to in the router.
If the URL doesn't contain a parameter (nothing after /), it will show the LoginComponent view, which is our first page.
It then displays the views that the user navigates to.
All static components that are (almost) always shown, such as the top/bottom fixed bars
will be around this router outlet.
-->
<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div>


<!--
This nav will be removed later, but use it for now to change between views.
This is also the way you should use links throughout the whole app.
 -->
<nav>
  <ul>
    <li><a routerLink="/current-settings">Current settings</a></li>
    <li><a routerLink="/app-settings">App settings</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/presets">Presets</a></li>
    <li><a routerLink="/select-spot">Select spot</a></li>
    <li><a routerLink="/startup-overview">Startup overview</a></li>
    <li><a routerLink="/startup-select-settings">Startup select settings</a></li>
    <li><a routerLink="/startup-select-spot">Startup select spot</a></li>
    <li><a routerLink="/startup-select-time">Startup select time</a></li>
  </ul>
</nav>

<app-bottom-nav></app-bottom-nav>
