<div mat-dialog-title cdkFocusInitial class="dialog_heading">
    Connect to your unit with a Spot ID
</div>
<div mat-dialog-content>
    <!-- <mat-form-field>
        <mat-label>Enter Spot ID</mat-label>
        <input matInput placeholder="Spot ID" type="number">
    </mat-form-field> -->


<!-- NEW: I added another prop, clickFunction, to the input-w-submit-button.
     You can see an example of how it works now in the StartupSelectTime view. -->

    <app-input-w-submit-button 
        [props]="{
        inputLabel: 'Enter Spot ID',
        placeholder: 'Spot ID',
        buttonText: 'Confirm',
        routerDest: '/startup-select-time',
        clickFunction: 'updateSpot'
        }">
    </app-input-w-submit-button>


    <!-- <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="uppercase" color="primary">
        OK!
      </button>
</div> -->
</div>
