<div mat-dialog-title cdkFocusInitial class="dialog_heading">
  Selecting your spot
</div>
<div mat-dialog-content>

  <p>
    To get your perfect, personal indoor environment, we need to know your exact spot in the room.
  </p>

  <p>
    To select your spot, scan the QR code, or manually type in the Spot ID.
  </p>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
