mat-toolbar {
  display: flex;
  justify-content: space-between;
  //font-family: var(--main-font-family);
  box-shadow: var(--main-box-shadow);
}

.app_title {
  font-weight: bold;
  text-align: center;

  &::first-letter {
    color: rgb(var(--main-color-500));
  }

}

.burger_icon_container {
  display: flex;
  justify-content: flex-end;
  color: rgb(var(--main-color-700));
}

.logout_button {
  margin-top: 48px;
}
