<h1>Your day</h1>

<h2>I'll be leaving at...</h2>

<div class="grid_2_col">
  <app-startup-time-suggestion
    *ngFor="let time of timeSuggestions"
  (click)="updateTime(users[0].userId, time)"
    routerLink="/current-settings"
  >
    <div class="card_large_text">
      {{ time }}
    </div>
  </app-startup-time-suggestion>
</div>

<app-input-w-submit-button
  class="input_time"
  [props]="{
  inputLabel: 'Another time',
  placeholder: 'Insert another time',
  buttonText: 'Save time',
  routerDest: '/current-settings',
  clickFunction: 'updateTime'
  }"
></app-input-w-submit-button>
