<h1>Your day</h1>

<h2>I'll be leaving at...</h2>

<div class="grid_2_col">

  <app-startup-time-suggestion routerLink="{{ this.routerDest }}">
    <div class="card_large_text">
      11:30
    </div>
  </app-startup-time-suggestion>

  <app-startup-time-suggestion routerLink="{{ this.routerDest }}">
    <div class="card_large_text">
      13:00
    </div>
  </app-startup-time-suggestion>

  <app-startup-time-suggestion routerLink="{{ this.routerDest }}">
    <div class="card_large_text">
      13:55
    </div>
  </app-startup-time-suggestion>

  <app-startup-time-suggestion routerLink="{{ this.routerDest }}">
    <div class="card_large_text">
      14:50
    </div>
  </app-startup-time-suggestion>

</div>

<app-input-w-submit-button
  class="input_time"
  [props]="{
  inputLabel: 'Another time',
  placeholder: 'Insert another time',
  buttonText: 'Save time',
  routerDest: this.routerDest
  }"
></app-input-w-submit-button>
