<div mat-dialog-title cdkFocusInitial class="dialog_heading">
  Selecting leaving time
</div>
<div mat-dialog-content>
  <p>
    To save power, the system for this spot turns off when you leave.
  </p>

  <p>
    So that you don't forget, you can tell us when you expect to leave your spot, and the system will automatically
    turn off at this time.
  </p>

  <p>
    You can change your expected leaving time at any time, or just tell is if you leave earlier.
  </p>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
