<mat-card
  matRipple
  *ngIf="props"
  (click)="this.displaySettings = !this.displaySettings"
  [class.selected_preset]="props.preset.selected"
>
  <div
    class="preset_title"
  >
    {{ props.preset.title }}
  </div>

  <div
    *ngIf="displaySettings"
    class="preset_settings"
  >
  <app-slider
    [props]="{
  title: 'temperature',
  interval: 5,
  step: 1,
  tempMin: 10,
  tempMax: 35,
  keepAtRoomLevel: true
  }"
  class="preset_settings"
  >
  </app-slider>

    <i
      *ngIf="props.preset.selected"
      >
      This is your current preset.
    </i>

    <button
      *ngIf="!props.preset.selected && props.lastDest === '/startup-select-settings'"
      mat-raised-button
      class="full_width uppercase select_button"
      color="primary"
      routerLink="/startup-select-time"
    >
      Select this preset
    </button>

    <button
      *ngIf="!props.preset.selected && props.lastDest !== '/startup-select-settings'"
      mat-raised-button
      class="full_width uppercase select_button"
      color="primary"
      routerLink="/current-settings"
    >
      Select this preset
    </button>

    <hr
      *ngIf="!props.preset.selected  && props.preset.category === 'myPresets'"
    >

    <button
      *ngIf="!props.preset.selected && props.preset.category === 'myPresets'"
      (click)="openDialog()"
      mat-button
      class="full_width uppercase"
      color="primary"
    >
      Delete preset
    </button>

  </div>

</mat-card>
