<mat-card
  matRipple
  *ngIf="props"
  (click)="this.displaySettings = !this.displaySettings"
  [class.selected_preset]="props.preset.selected"
>
  <div
    class="preset_title"
  >
    {{ props.preset.title }}
  </div>

  <div
    *ngIf="displaySettings"
    class="preset_settings"
  >
    <app-slider
      [props]="{
  title: 'temperature',
  unit: '&deg;',
  interval: 5,
  step: 1,
  tempMin: 10,
  tempMax: 35,
  keepAtRoomLevel: false,
  currentValue: 27,
  currentRoomValue: 22,
  preview: true
  }"
    ></app-slider>
    <app-slider
      [props]="{
  title: 'humidity',
  unit: '%',
  interval: 10,
  step: 1,
  tempMin: 0,
  tempMax: 100,
  keepAtRoomLevel: false,
  currentValue: 45,
  currentRoomValue: 37,
  preview: true
  }"
    ></app-slider>
    <app-slider
      [props]="{
  title: 'airflow level',
  unit: '',
  interval: 1,
  step: 1,
  tempMin: 0,
  tempMax: 10,
  keepAtRoomLevel: true,
  currentValue: 7,
  currentRoomValue: 5,
  preview: true
  }"
    ></app-slider>


    <i
      *ngIf="props.preset.selected"
      >
      This is your current preset.
    </i>

    <button
      *ngIf="!props.preset.selected && props.lastDest === '/startup-select-settings'"
      mat-raised-button
      class="full_width uppercase select_button"
      color="primary"
      routerLink="/startup-select-time"
    >
      Select this preset
    </button>

    <button
      *ngIf="!props.preset.selected && props.lastDest !== '/startup-select-settings'"
      mat-raised-button
      class="full_width uppercase select_button"
      color="primary"
      routerLink="/current-settings"
    >
      Select this preset
    </button>

    <hr
      *ngIf="!props.preset.selected  && props.preset.category === 'myPresets'"
    >

    <button
      *ngIf="!props.preset.selected && props.preset.category === 'myPresets'"
      (click)="openDialog()"
      mat-button
      class="full_width uppercase"
      color="primary"
    >
      Delete preset
    </button>

  </div>

</mat-card>
