mat-card {
  background-color: rgb(var(--main-color-300));
  margin-bottom: calc(var(--main-margin)/2);
  cursor: pointer;
}

.selected_preset {
  background-color: rgb(var(--main-color-400));
}

.preset_settings {
  margin-top: var(--main-margin);
  padding-bottom: calc(var(--main-margin)/2);
}
