/* You can add global styles to this file, and also import other style files */

/* ----- COLOR VARIABLES ----- */

/*
Please use those main colors! (feel free to add the missing shades)
 If you need transparency, you can use this in rgba, e.g.:
 background-color: rgba($main-color-700,.5)
 */

$main-color-700: #416A05;
$main-color-500: #6EA81A; // Main color from Vent2U website
$main-color-400: #9BBB6D;
$main-color-300: #C5DEA0;

$secondary-color-500: #D5B56B;

$grey-900: #3A3A3A;
$grey-800: #707070;
$grey-200: #D6D6D6;
$grey-100: #F3F3F3; // Main background color


/* ----- FONT VARIABLES ----- */

/* Main font: Raleway
https://fonts.google.com/specimen/Raleway?sidebar.open=true&selection.family=Raleway:ital,wght@0,400;0,500;0,700;1,400
Our current styles: Regular 400, Regular 400 Italic, Medium 500, Bold 700 */

$main-font-family: 'Raleway', sans-serif;

/* ----- GENERAL STYLINGS ----- */

.tester {
  background-color: rgba($main-color-700, .5);
  font-family: $main-font-family;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}
