<div mat-dialog-title cdkFocusInitial class="dialog_heading">
  Selecting your spot
</div>
<div mat-dialog-content>
  <p>Our goal is to make you feel good, right in your place of work. For this to happen, we need to know where this
    place exactly is.
  </p>

  <p>
    If you're in the same spot as the last time you used this system, you can quickly jump back in. If not, you can
    quickly select your new spot.
  </p>

  <p>
    If you generally change spots a lot, you can tell us to skip this step for you. You can always change this in your
    settings.
  </p>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
